<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHWB2mbU1y2BeDSKPwC5Rrnm5Cxu5NbUA</string>
	<key>GCM_SENDER_ID</key>
	<string>1029559118999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bajaber.Adab</string>
	<key>PROJECT_ID</key>
	<string>adab-74e21</string>
	<key>STORAGE_BUCKET</key>
	<string>adab-74e21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029559118999:ios:f2b30a6e04210073e44dd2</string>
</dict>
</plist>